* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a182d;
}

.controller{
    display: flex;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#button {
    border: none;
    border: 1px solid #48cbdb;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

#button:hover {
    background-color: #35e28f;
}

#button2 {
    border: none;
    border: 1px solid #48cbdb;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}

#button2:hover {
    background-color: #35e28f;
}

#questionbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    text-align: center;
    width: 50%;
    height: 60%;
    font-size: 250%;
    color: #197096;
    border-radius: 3%;
    display: none;
}



#question-head {
    margin-bottom: 15%;
    margin-top: 5%;
}

#choices {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#choices .choice {
    border: none;
    border: 1px solid #48cbdb;
    border-radius: 24px;
    min-width: 25%;
    cursor: pointer;
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    #questionbox {
        width: 80%;
        height: 60%;
        
    }

    #question_container{
        margin-top: 10%;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #choices {
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }

    #choices .choice {
        border: none;
        border: 1px solid #48cbdb;
        border-radius: 24px;
        min-width: 50%;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    

  }

#choices .choice:hover {
    background-color: #1a182d;
}

#popup {
    width: 700px;
    height: 470px;
    background-color: white;
    border-radius: 24px;
    position: absolute;
    top: 10%;
    left: 20%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    min-width: 300px;
    max-width: 80vw;
    max-height: 80vh;
    transition: opacity .2s ease 0s, margin .4s ease 0s;
    z-index: 10;
    display: none;
}

.title {
    color: #197096;
    font-family: Proxima Nova, sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
}

#text-input {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 20px;
}

#a1 {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 30px;
}

#a2 {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 40px;
}

#a3 {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 40px;
}

#correct {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 40px;
}

.text {
    color: #777;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
}

#continue {
    align-items: center;
    background-color: #28a5dc;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    justify-content: center;
    outline-style: none;
    padding: 0 28.8px;
    position: absolute;
    left: 40%;
    top: 90%;
    transition: all .3s;
}

#continue:hover {
    background-color: #ff8a47;
}

.fa-times {
    color: black;
    font-size: 25px;
    position: absolute;
    bottom: 93%;
    left: 95%;
    cursor: pointer;
}




#admin {
    width: 700px;
    height: 470px;
    background-color: white;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    min-width: 300px;
    max-width: 80vw;
    max-height: 40vh;
    transition: opacity .2s ease 0s, margin .4s ease 0s;
    z-index: 10;
    display: none;
}

#admin .title {
    color: #197096;
    font-family: Proxima Nova, sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
}

#admin #username {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 20px;
}


#admin #pass {
    border: 2px solid rgba(25, 112, 150, .3);
    border-radius: 6px;
    color: #197096;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 12px;
    width: 90%;
    margin-top: 40px;
}

#admin .text {
    color: #777;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
}

#admin #admin-continue {
    align-items: center;
    background-color: #28a5dc;
    border: none;
    border-radius: 36px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    justify-content: center;
    outline-style: none;
    padding: 0 28.8px;
    transition: all .3s;
    position: absolute;
    left: 42%;
    top: 80%;

}

#admin #admin-continue:hover {
    background-color: #ff8a47;
}


#admin .fa-times {
    color: black;
    font-size: 25px;
    position: absolute;
    bottom: 93%;
    left: 95%;
    cursor: pointer;
}

